html{
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties*/

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 2.75rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General Styles */

body {
  background:beige;
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 5em 2em;
}

/* Basic Typography */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  margin-top: 4em;
}

.btn:hover {
  transform: scale(1.1);
  color: darkslategrey;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge{
  color: white;
}

/* Header */

.navbar{
  background-color: var(--clr-accent);
  color: #111;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.navbar a{
  color: #111;
  text-decoration: none;
}

.navbar a:hover{
  color: white;
  text-decoration: none;
}

.nav-list{
  list-style-type: none;

}

.nav-list .list-item{
  display: inline-block;
  padding: 10px 10px;
  margin-right: 10px;
}

.menu{
  display: none;
}

.menu-line{
  width: 20px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;

}

.primary-icon{
  height: 60px;
  width: 120px;
}

@media all and (max-width : 1128px){
  .navbar{
    flex-direction: column;
  }
  .menu{
    display: block;
    position: absolute;
    right: 15px;
    top: 25px;
  }

  .nav-list .list-item{
    display: block;
    padding: 10px;
    border-top: 1px solid white;
  }

  .nav-list{
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
  }

  .mobile-logo{
    width: 100%;
  }

  .primary-icon{
    margin-left: 10px;
    margin-top: 10px;
  }

  .active{
    display: block;
  }


}




/* Intro Section */

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -2em;
    width: calc(100% + 1.5em);
  }
}

/* Area of Interest */

.my--services {
  background-color: var(--clr-dark);
  background-image: url(../img/2.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.section__title--aoi {
  color: var(--clr-accent);
  position: relative;
  text-align: center;
}

.section__title--aoi::after {
  content: "";
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: currentColor;
  text-align: center;
}

/* About Me */

.about-me {
  max-width: 1200px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 4em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* Portfolio */

.section__title--projects {
  color: var(--clr-accent);
  position: relative;
  text-align: center;
  margin-top: -2%;
}

.section__title--projects::after {
  content: "";
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: currentColor;
  text-align: center;
}

.project-container{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.project-header{
  font-size: 40px;
}

@media(max-width : 800px){
  .project-header{
    font-size: 25px;
  }
}



.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}

/* footer */

.footer{
  background: #111;
  color:var(--clr-light);
  text-align: center;
  padding: 2.5em 0;
  font-size:var(--fs-h3) ;
}

.footer a{
  color: inherit;
  text-decoration: none;
}

.footer__link{
  font-size:var(--fs-h3) ;
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover{
  opacity: 0.7;
}

.footer__link:hover{
  text-decoration: underline;
}

.social-list{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
}

.social-list__item{
  margin: 0 0.5em;

}

.social-list__link{
  padding: 0.5em;
}


/* Education */

.timeline-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: lemonchiffon;
  margin-top: -2%;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color:var(--clr-dark);
  color:var(--clr-light);
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 20px;
}
.timeline-content p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.date{
  color:var(--clr-dark);
}

.section__title--education{
  color: var(--clr-accent);
  position: relative;
  text-align: center;
  margin-top: -2%;
}

.section__title--education::after {
  content: "";
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: currentColor;
  text-align: center;
}



@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: aqua;
  }
}

/* Experience */

.section__title--experience{
  color: var(--clr-accent);
  position: relative;
  text-align: center;
  margin-top: -2%;
}

.section__title--experience::after{
  content: "";
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: currentColor;
  text-align: center;
}

.vl {
  border-left: 6px solid var(--clr-accent);
  height: 100%;
}

@media(max-width:767px){
  .vl{
    border-left: 6px solid white;
  }
}

/* ECA */

.section__title--eca{
  color: var(--clr-accent);
  position: relative;
  text-align: center;
  margin-top: -2%;
}

.section__title--eca::after{
  content: "";
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: currentColor;
  text-align: center;
}

.date{
  margin-left: 5%;
}
.wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background:var(--clr-accent);
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background:lemonchiffon;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color:var(--clr-accent);
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 15px;
  right: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  font-size: 30px;
  font-weight: 600;
}
.row section p{
  margin: 10px 0 17px 0;
}
.row section .bottom a{
  text-decoration: none;
  background: #ff7979;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover{
  transform: scale(0.97);
}
@media(max-width: 790px){
  .date{
    margin-left: 20%;
  }
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
}
@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }
}


/* Back ot Top Button */

.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background:var(--clr-accent);
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: var(--clr-light);
}

@media (max-width : 1370px){
  .gotopbtn{
    position: fixed;
    width: 20px;
    height: 20px;
    background:var(--clr-accent);
    bottom: 10px;
    right: 10px;
  
    text-decoration: none;
    text-align: center;
    line-height: 15px;
    color: var(--clr-light);
  }
}